<a class="dlazdice" href="/clanek/{{ clanek.nadpis | slug }}/">
	<div class="dlazdice__ramecek">
		<img class="dlazdice__obrazek" src="/obrazky/{{ clanek.obrazek.soubor }}" alt="{{ clanek.obrazek.popisek }}" width="{{ clanek.obrazek.sirka }}" height="{{ clanek.obrazek.vyska }}">
	</div>
	<h3 class="dlazdice__nadpis">{{ clanek.nadpis }}</h3>
</a>
