<header class="hlavicka">
	<div class="hlavicka__obsah">
		<h1 class="hlavicka__logo">
			<a class="hlavicka__odkaz" href="/">
			Můj blog
		</a>
		</h1>
		<nav class="hlavicka__navigace">
			<a href="/o-blogu/" class="hlavicka__odkaz">O blogu</a>
		</nav>
	</div>
</header>
