<div class="hlavicka-clanku">
	<h1 class="hlavicka-clanku__nadpis">{{ clanek.nadpis }}</h1>
	<img class="hlavicka-clanku__obrazek" src="/obrazky/{{ clanek.obrazek.soubor }}" alt="{{ clanek.obrazek.popisek }}" width="{{ clanek.obrazek.sirka }}" height="{{ clanek.obrazek.vyska }}">
</div>
