<header class="hlavicka">
	<div class="hlavicka__obsah">
		<h1 class="hlavicka__nadpis">
			<a class="hlavicka__logo" href="/">
				<img src="/obrazky/logo.svg" width="36" height="36" alt="logo">
			</a>
		</h1>
		<nav class="hlavicka__navigace">
			<a href="/" class="hlavicka__odkaz">Články</a>
			<a href="/o-blogu/" class="hlavicka__odkaz">O blogu</a>
			<a href="/o-mne/" class="hlavicka__odkaz">O mně</a>
		</nav>
	</div>
</header>
