---
layout: zakladni
pagination:
  data: clanky
  size: 1
  alias: clanek
permalink: "/clanek/{{ clanek.nadpis | slug }}/"
---

<article>
  {% include "hlavicka-clanku.njk" %}

  <div class="obsah">
    {{ clanek.obsah | safe }}
  </div>
</article>
